*{
    margin: 0;
    padding: 0;
    font-family: "montserrat",sans-serif;
  }

  .err
  {
    color: red;
  }

  .s1
{
    background-color:black;
    height: 100vh;
    padding: 5%;

}

.s1 h1
{
    text-align: center;
    color: #ddd;
}

.border
{
    width: 100px;
    height: 10px;
    background:#ddd;
    margin: 40px auto;
  }

  .parentdiv
  {
    border-color: #ddd;
    border-width: 2px;
    border-style: solid;
  }

  .div-text
  {
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
    
  }

  .i-class-text{
    display:block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background: #111;
    padding: 20px 40px;
    outline: none;
    color: #ddd;
    transition: 0.5s;
  }

  .header {
    padding: 2%;
    text-align: center;
    background: black;
    color: white;
    font-size: 30px;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
  }

  .p1
  {
    text-align: center;
    display:block;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background: #111;
    padding: 20px 40px;
    outline: none;
    color: whitesmoke;
    transition: 0.5s;
  }

  .i-class-button{
    display:block;
    width: 100%;
    font-size: 24px;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background:#111;
    padding: 20px 40px;
    outline: none;
    color:rgb(238, 232, 232);
  }




  .i-class-button:hover {background-color: #6d756d}

.i-class-button:active {
  background-color: #6d756d;
  transform: translateY(4px);
}

  .i-class-text:focus{
    box-shadow: 0 0 10px 4px #34495e;
  }